.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo {
  img {
    width: 100px;
  }
}
.navbar_right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  height: 100%;

  .right_three {
    display: flex;
    border: 1px solid black;
    border-radius: 30px;
  }
  .right_two {
    .iconTwo {
      height: 20px;
    }
  }
}
.search {
  border-radius: 30px;
  background-color: #ff7779;
  padding: 3px 3px 3px 3px;
}
.right {
  border: 1px solid black;
  border-radius: 23px;
  height: 30px;
  padding-top: 8px;
}

.navbar_center {
  border: 1px solid lightgray;

  height: 50px;
  width: 30%;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-around;

  .vt {
    border-left: 1px solid lightgray;
    width: 10px;
    height: 60%;
  }
}
